@import url(variable.css);

.grid_container{
    width: min(100%, 1440px);
    margin: auto;
    padding: 32px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 48px 340px 284px;
    gap: 48px 40px;
    background-color: var(--Backgroundcolor);
    grid-template-areas: 
    "HEADER HEADER HEADER HEADER"
    "ASIDE ARTICLE ARTICLE IMAGE"
    "CARD1 CARD2 CARD3 CARD4";
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: HEADER;
}
.header_link{
    color: var(--Textcolor);
    font-family: 'Inter', sans-serif;    
    font-size: var(--paragraph1);
    font-weight: 400;
}
ul{
    display: flex;
    column-gap: 84px;
}
.header_div{
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.search_bar{
    display: flex;
    padding: 8px 20px 7px 20px;
    justify-content: center;
    gap: 100px;
    border-radius: var(--mainBorderradius);
    background:var(--rgbadark);
    box-shadow: 1.52px 3px 3px -0.8px var(--rgbadark) inset, 0px -0.3px 1px 0px var(--rgbalight) inset;
    color: var(--fontcolor1);
    font-family: Inter;
    font-size: var(--paragraph3);
    font-weight: 400;
}


/* aside */

aside{
    background: var(--rgbadark);
    box-shadow: 0px 4px 4px 0px var(--rgbadark) inset, 0px -1px 4px 0px var(--rgbalight) inset;
    padding: 38px 115px 54px 40px;
    grid-area: ASIDE;
}
.aside_title{
    font-family: 'Inter', sans-serif;
    color: var(--logocolor);
    font-size: var(--paragraph2);
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    margin-bottom: 16px;
}
.ul2{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.aside_link{
    color: var(--fontcolor1);
    font-family: 'Inter', sans-serif;
    font-size: var(--paragraph3);
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}       
.active{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-decoration: underline;
}

/* main_article */

.main_article{
    background-image: url(../images/cover.png);
    display: flex;
    align-items: end;
    grid-area: ARTICLE;
    background-position: center;
}
.main_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: var(--Textcolor);
}
.price{
    font-family: 'Inter', sans-serif;
    color: var(--Backgroundcolor);
    font-size: var(--paragraph2);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin-left: 20px;
}
.button1{
    background-color: var(--logocolor);
    border: none;
    height: 100%;
    padding-inline: 50px;
    color: var(--Textcolor);
    font-family: Inter;
    font-size: var(--paragraph3);
    font-weight: 700;
    line-height: 22px; /* 157.143% */
}
.main_div2{
    height: 100%;
}

/* right_photos */
.img_container{
    grid-area: IMAGE;
}
.image1{
    margin-bottom: 48px;
}
.image1,
.image2{
    width: 100%;
    height: 146px;
    object-fit: cover;
}

/* cards */

.card1{
    background-image: url(../images/card1.png);
    background-repeat: no-repeat;
    grid-area: CARD1;

}
.card_div{
    height: 180px;
}
.card_title{
    color: var(--Backgroundcolor);
    font-family: 'Inter', sans-serif;
    font-size: var(--heading1);
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin: 8px 8px 88px;
}
.card_text{
    color: var(--Textcolor);
    font-family: 'Inter', sans-serif;
    font-size: var(--paragraph2);
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 8px 0;
}
.button{
    background-color: var(--logocolor);
    border: none;
    height: 100%;
    padding-inline: 8px;
    color: var(--Textcolor);
    font-family: 'Inter', sans-serif;
    font-size: var(--paragraph3);
    font-weight: 700;
    line-height: 22px; /* 157.143% */
}
.card_div2{
    height: 100%;
}
.card2{
    background-image: url(../images/card2.png);
    background-repeat: no-repeat;
    grid-area: CARD2;
}
.card3{
    background-image: url(../images/card1.png);
    background-repeat: no-repeat;
    grid-area: CARD3;

}
.card4{
    background-image: url(../images/card2.png);
    background-repeat: no-repeat;
    grid-area: CARD4;

}