:root {
    --heading1fontsize: bold, 24px;
    --Backgroundcolor: #1C5550;;
    --firstcolor: #000000;
    --firstcolor: #1c5550;
    --firstcolor: #91B599;
    --firstcolor: #C3B97F;
    --firstcolor: #DFD9D9;
    --mainBorderradius: 4px;
}